[submodule "alacritty/AppData/Roaming/alacritty"]
	path = alacritty/AppData/Roaming/alacritty
	url = git@github.com:nooneknowspeter/alacritty.git
[submodule "wezterm/.config/wezterm"]
	path = wezterm/.config/wezterm
	url = git@github.com:nooneknowspeter/wezterm.git
